@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background: var(--color-bg-gradient);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #222;
}
